<div class="catalog-wrapper">

    <header class="categories-wrapper">
        <span class="title">Categories</span>

        <div class="categories-inner">
            <span
                    class="category"
                    :class="{'active': categoryId == currentCategory}"
                    v-for="(category, categoryId) in categories"
                    @click="switchCategory(categoryId)"
                    v-html="category">
            </span>
        </div>
    </header>

    <div v-infinite-scroll="fetchData"
         infinite-scroll-disabled="busy"
         infinite-scroll-distance="10"
         infinite-scroll-immediate-check="false">
        <isotope :list="videos" :options='getOption()'>
            <netflix-video
                    :video="video"
                    v-for="video in videos"
                    :key="video.id">
            </netflix-video>
        </isotope>
    </div>
</div>