<div class="catalog-wrapper">

    <header class="categories-wrapper">
        <span
                class="category"
                v-for="(category, categoryId) in categories"
                @click="switchCategory(categoryId)"
                v-html="category">
        </span>
    </header>

    <div v-infinite-scroll="fetchData"
         infinite-scroll-disabled="busy"
         infinite-scroll-distance="10"
         infinite-scroll-immediate-check="false">
        <isotope :list="videos" :options='getOption()'>
            <netflix-video
                    :video="video"
                    v-for="video in videos"
                    :key="video.id">
            </netflix-video>
        </isotope>
    </div>
</div>