<h1>Netflix Together</h1>

<form class="login-form" action="/login" method="post">
    <input class="text-field" type="email" name="email" required>
    <input class="text-field" type="password" name="password" required>
    <button class="button" type="submit">Login</button>
</form>