<h1>Netflix Together</h1>

<form class="login-form" action="/login" method="post">
    <input class="text-field" type="email" name="email" value="{{ user }}" required>
    <input class="text-field" type="password" name="password" value="{{ pass }}" required>
    <button class="button" type="submit">Login</button>
</form>